name: Build OSCam IPv6 (Alpine)

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build image
      run: |
        docker build -t ghcr.io/${{ github.repository_owner }}/oscam-ipv6:latest .

    - name: Push image
      run: |
        docker push ghcr.io/${{ github.repository_owner }}/oscam-ipv6:latest
